/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

#searchBar {
    width: 300px; 
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.game-list {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.game-card {
    margin: 10px;
}

.game-button {
    text-decoration: none;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: #f0f0f0;
}

img {
    width: 150px; 
    height: 100px; 
}

.button-title {
    padding: 10px;
    display: block;
    color: #333;
}
