body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #61dafb;
}

.game-container {
    display: flex;
    gap: 20px;
}

.game-card {
    position: relative;
    width: 150px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

.game-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #61dafb;
    color: #282c34;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: #4fa3c7;
}

.game-title {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    transition: opacity 0.3s, color 0.5s;
}

.game-card:hover .game-title {
    opacity: 1;
    color: #ff6347; /* Tomato color */
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .game-container {
        flex-direction: column;
    }
}
